.techs {
    background-color: #F5F5F5;
    padding: 100px 70px;
}

.techs-wrapper {
    border-top: 1px solid black;
    padding: 90px 0px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.techs-list {
    max-width: 690px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 10px;
    padding: 0px;
    align-self: center;
    margin: 0 auto;
}

 .techs__item {
    height:60px;
    background-color: #ECC12B;
     display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
} 

.techs__prewiev {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    margin: 0px;
    padding-bottom: 23px;
    letter-spacing: -0.04em;
}

.techs__info {
    max-width: 460px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    padding-bottom: 100px;
    letter-spacing: -0.04em;
}

.techs__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin: 0px;
    padding-bottom: 26px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 790px) {
    .techs {
        padding: 90px 50px;
    }
    .techs-wrapper {
        padding: 80px 0px 0px 0px;
    }
    .techs__title {
        padding-bottom: 22px;
    }
    .techs__info {
        padding-bottom: 83px;
        font-size: 12px;
        line-height: 18px;
    }
    .techs-list {
        grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    }
    .techs__item {
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (max-width: 700px) {
    .techs {
        padding: 52px 18px 88px 18px;
    }
    .techs__prewiev {
     padding-bottom: 27px;
         font-size: 18px; 
         letter-spacing: -0.04em;
    }

    .techs-wrapper {
        padding: 60px 0px 0px 0px;
    }
    .techs__title {
        padding-bottom: 23px;
        font-size: 30px;
        line-height: 36px;
    }
    .techs__info {
        padding-bottom: 50px;
        font-size: 11px;
    }
    .techs-list {
        grid-template-columns: repeat( auto-fill,  80px);
        width: 178px;
        grid-gap: 10px;
    }
    .techs__item {
        height: 57px;
    }
}